
@import 'section3';


.shopDrop{
    transition-duration: 0.2s;
    &:hover{
      .dropdown-menu{
        display: block !important;
      }
    }
}
.orderBtn{
    background-color: #fbb403 !important;
    color: #1d1d1d;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 550;
    padding: 13px 22px 13px 22px;
    border-radius: 25px;
    border: none;
    transition-duration: 0.5s;
    &:hover{
        background-color: #1d1d1d!important;
        color: white !important;
    }
}
.brand{
    color: #1d1d1d !important;
    text-transform: capitalize !important;
    font-family: "Heebo", sans-serif !important;
    font-weight: bold !important;
    font-size: calc(1.375rem + 1.5vw);
}
.page{
    color: #1d1d1d;
    font-weight: 500;
    font-size: 20px;
    font-family: "Heebo", sans-serif !important;
    transition-duration: 0.5s;
    &:hover{
       color: #fbb403 !important;
    }
}
 .carousel{
    background-image: url(https://templates.envytheme.com/handout/default/assets/img/slider/bg-color.jpg);
 }
 
 .lead{
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
 }
 .chicken{
    font-size: 70px;
    font-family: "Heebo", sans-serif ;
    color: #ffffff;
    font-weight: 550;
 }
.arrow{
    color: #ffffff;
    font-size: 30px;
    font-family: "Heebo", sans-serif ;
    font-weight: 500;
}
.burger{
    font-size: 60px;
    font-family: "Heebo", sans-serif ;
    color: #1d1d1d;
    font-weight: 550;
    
}


.welcome{
    font-size: 25px;
    font-family: "Pangolin", cursive;
    color: #c24907;
}
.ipsum{
    color: #737373;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}
.explore{
    padding: 7px 25px 7px 25px;
    font-size: 20px;
    transition-duration: 0.5s;
    font-weight: 450;

    &:hover{
        background-color: #1d1d1d!important;
        color: white !important;
    }
}
.section3{
    height: 750px;
    background-image: url(https://templates.envytheme.com/handout/default/assets/img/others-bg.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
}


.cards{
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.box{
    width: 400px;
    background-color: white;
  border: rgb(0 0 0 / 9%) 1px solid;
    p{
        color: #737373;
    }
    
    margin-bottom: 5px;
   
}
.commonBox{
    justify-content: space-between;
   
}
.boxes{
    i{
        color: #ffffff;
    }
    transition-duration: 1s;
    &:hover{
        transform: translateY(-20px);
         i{
            color: #fbb403;
         }
    }

}
.quality{
    font-size: 25px;
    color: #fbb403;
    font-family: "Pangolin", cursive;
    font-weight: 400;
    line-height: 1;
    text-align: center;
}
.delOne{
    font-size: 50px;
    color: #1d1d1d;
    text-transform: capitalize;
    font-family: "Heebo", sans-serif;
    text-align: center;
    font-weight: bold;
}
.price{
    font-size: 20px;
    font-weight: bold;
    color: #ce7b04;
}
.grey{
    line-height: 1.8;
    color: #737373;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}
.title{
    color: #1d1d1d;
    text-transform: capitalize;
    font-family: "Heebo", sans-serif;
    font-weight: bold;
    font-size: 22px;
}
.colBox{
    width: 300px;
    border: 1px dashed #fbb403;
    border-radius: 5px;
    
}
.cardImg{
    border: none !important;
}
.burgerCard{
    width: 100%;
    border: none !important;
    transition-duration: 1s;
    &:hover{
        background-color: #f3e6c4;
    
        .imgCard{
        transition-duration: 1s;
            background-color: #fbb403 !important;
        }
    }
  
}
.imgCard{
    padding-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: #fef0cd;
    height: 240px;
    border-radius: 0px 0px 120px 120px;
    .cardImg{
        width: 200px;
        height: 150px;

    }
}
.order{
    background-color: #1d1d1d;
    color: white;
    padding: 7px 25px 7px 25px;
    font-size: 16px;
    transition-duration: 0.5s;
    font-weight: 450;

    &:hover{
        background-color: #dc3545;
        color: white !important;
    }
}


.orders{
    height: 500px;
    background-image: url(https://templates.envytheme.com/handout/default/assets/img/video/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    .video{
        width: 99px;
        height: 99px;
        border-radius: 50%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
       
    }
}
@keyframes circleAnimate {
    0%{padding: 0px;}
    100%{padding: 30px;}
   }

   .pricess{
    height: auto;
    background-color: #fbb403;
    padding: 5vh 0;
    .cups{
        h1{
            margin-bottom: 5px;
            margin-bottom: 5px;
    line-height: 1;
    font-size: 50px;
    color: #1d1d1d;
    text-transform: capitalize;
    font-family: "Heebo", sans-serif;
    font-weight: bold;
        }
        p{
            color: #434447;
            margin-top: 10px;
            margin-bottom: 0;
            line-height: 1;
            font-weight: 550;
            font-size: 20px;
            font-family: "Poppins", sans-serif;
        }
        @media (max-width:900px) {
            h1{
                font-size: 30px;
            }
            p{
                font-size: 15px;
            }
        }
    }
}
.section6{
    .card{
        border: 2px solid #d2d2d2 ;
        height: 170px;
        border-radius: 0;
        margin-right: 10px;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        transition-duration: 0.5s;
        &:hover{
            color: #c24a07;
            border-color: #c24a07;
            i{
                color: #c24a07;
                transition-duration: 0.5s;
            }
        }
        i{
            font-size: 70px;
            margin-top: 20px;
            color: #1d1d1d ;
        }
        h5{
            font-family: "Poppins", sans-serif;
          font-weight: bold;
          font-size: 25px;      
          }
    }
}
.leftMenu{
    border: 2px dashed #d2d2d2;
    margin-right: 20px;
    padding: 20px 0px 0px 20px;
    h3{
        color: #1d1d1d;
        text-transform: capitalize;
        font-family: "Heebo", sans-serif;
        font-weight: bold;
        font-size: 24px;
        transition-duration: 0.3s;
        &:hover{
            color: #c24a07 ;
        }
        span{
            color: #c24a07;
        }
        margin-bottom: 15px;
    }
    p{
        line-height: 1.8;
    color: #737373;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    }
}
.menuList{
    margin-bottom: 20px;
}


.section9{
    background-image: url(https://templates.envytheme.com/handout/default/assets/img/global.png);
    background-color: #fef1d2;
    background-size: contain;
    background-repeat: no-repeat;    
    background-position: right;
    .lead{
        line-height: 1.8;
    color: #737373;
    font-weight: 450;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    }
    .coinBtn{
        background-color: #1d1d1d !important;
        color: white;
        font-size: 16px;
        font-family: "Poppins", sans-serif;
        font-weight: 550;
        padding: 13px 22px 13px 22px;
        border-radius: 25px;
        border: none;
        transition-duration: 0.5s;
        &:hover{
           background-color: #fbb403 !important;
           color: white;
        }
    }
}
.swiper-pagination-bullet-active{
    background-color: orange;
    
}
.swiper-pagination-bullet{
    padding: 5px;
}
.swiper-pagination{
    transform: translateY(10px);
}
.section11{
    .card{
        display: flex !important;
        flex-direction: column !important;
     justify-content: space-between !important;

        .card-body{
            transition-duration: 1s;
            &:hover{
            transform: translateY(-10px);
            }
        }
        height: 400px;
        display: flex;
        justify-content: flex-end Im !important;
        .card-text{
            display: inline-block;
            font-size: 16px;
            color: #1d1d1d;
            font-weight: 500;
            padding: 5px 15px;
            background-color: #fbb403;
            border-radius: 5px;
           
        }
        .card-title{
            color: #ffffff;
            line-height: 1.5;
            font-weight: 500;
            font-family: "Pangolin", cursive;
        }
        .btn{
            font-size: 16px;
            padding-left: 23px;
            padding-right: 23px;
            padding-top: 12px;
            padding-bottom: 12px;
            background-color: #ffffff;
            border: none;
            border-radius: 30px;
            color: #1d1d1d;
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            transition-duration: 0.5s;
            &:hover{
                background-color: #fbb403;
                color: #ffffff;
            }
        }
       
        .burgPrice{
            text-align: end !important ;
            width: 130px;
            height: 130px;
            background-color: #ffffff;
            border-radius: 50%;
            p{
                font-size: 15px;
                color: #836c34;
                font-weight: 500;
                background-color: none;
            }
            h3{
                
                color: #1d1d1d;
                text-transform: capitalize;
                font-family: "Heebo", sans-serif;
                font-weight: bold;
            }
        }
    }
    .card1{
        background-image: url(https://templates.envytheme.com/handout/default/assets/img/overview/image1.jpg);
        background-size: cover;
    }
    .card2{
        background-size: cover;
        background-image: url(https://templates.envytheme.com/handout/default/assets/img/overview/image2.jpg);
    }
    .card3{
        background-size: cover;
        background-image: url(https://templates.envytheme.com/handout/default/assets/img/overview/image3.jpg);
    }
    .card4{
        background-size: cover;
        background-image: url(https://templates.envytheme.com/handout/default/assets/img/overview/image4.jpg);
    }
    .card5{
        background-size: cover;
        background-image: url(https://templates.envytheme.com/handout/default/assets/img/overview/image5.jpg);
    }
}

.footer{
    width: 100%;
    .row{
        width: 100%;
    }
    .footer-burger{
        width: 100%;
    }
    background-color: #1d1d1d;
    .nav-item{
        font-size: 18px;
    }
    li{
        margin-top: 8px;
    }
    .location{
        border-radius: 10px;
    }
    .book{
        width: 100%;
        background-color: #fbb403;
        border-radius: 10px;
        .img-fluid{
            border-radius: 5px;
            width: 100%;
        }
        .btn{
            font-size: 16px;
            padding-left: 23px;
            padding-right: 23px;
            padding-top: 12px;
            padding-bottom: 12px;
            background-color: #ffffff;
            border: none;
            border-radius: 30px;
            color: #1d1d1d;
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            transition-duration: 0.5s;
            &:hover{
                background-color: #1d1d1d;
                color: #ffffff;
            }
        }
        .lead{
            color: #4b4b4b;
            font-weight: 400;
            font-family: "Poppins", sans-serif;
            font-size: 16px;
        }
    }
}
.end{
    background-color: #313131;
    span{
        color: #fbb403;
    }
    p{
        font-size: 20;
        font-weight: bold;
    }
}

.section8{
    .card{
        overflow-y: hidden;
        border: none;
        &:hover{
            .front{
               opacity: 1;
               transform: translateY(-120px);
               .btn{
                &:hover{
                    background-color: white;
                    border-color: #fbb403;
                    color: #fbb403 !important;
                }
               }
            }
        }
    }
    .front{
        opacity: 0;
        background-color: white;
        width: 200px;
        margin-left: 35px;
        padding: 10px 0px 10px 0px;
        border-radius: 5px;
    }
}

.hero1{
    background-image: url(https://templates.envytheme.com/handout/default/assets/img/page-title/bg.jpg);
    background-size: cover;
    .topHero{
        height: 450px;
    }
    .below{
        width: 100%;
        overflow-x: hidden;
        img{
            width: 100%;
        }
    }
}
.whoAre{
    font-size: 25px;
    color: #fbb403;
    font-family: "Pangolin", cursive;
    font-weight: 400;
    line-height: 1;
    
}
.hero2{
    width: 100%;
    .row{
        margin: 0;
    }
    .brg-image{
        width: 100%;
    }
    .title1{
        color: #1d1d1d;
        font-size: 50px;
    }
    .lead1{
     margin-bottom:18px !important;
    line-height: 1.8;
    color: #737373;
    font-weight: 400;
    font-family: "Poppins", sans-serif !important;
    font-size: 16px;
    }
}
.red{
    background-color: #eb0028;
    *{
        color: white !important;
    }
    height: 250px !important;
}
.hero3{
    .swiper-pagination-bullet{
        padding: 10px !important;
        transform: translateY(3px);
        border: 2px solid #e60027 !important;
        
    }
    .swiper-pagination-bullet-active{
        background-color: #e60027 !important;
       }
    
    .cardImg1{
        border: none !important;
    }
    .burgerCard1{
        padding-bottom: 10px;
        border: none !important;
        background-color: #f7f7f7;
        transition-duration: 0.5s;
        &:hover{
            background-color: white;
            box-shadow: -11px 6px 10px -5px rgba(0,0,0,0.24);
            -webkit-box-shadow: -11px 6px 10px -5px rgba(0,0,0,0.24);
            -moz-box-shadow: -11px 6px 10px -5px rgba(0,0,0,0.24);
        }
    }
    .imgCard1{
        padding-top: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        height: 240px;
        border-radius: 0px 0px 120px 120px;
        .cardImg1{
            width: 300px;
            height: 210px;   
        }
    }
    .order{
        background-color: #1d1d1d;
        color: white;
        padding: 7px 25px 7px 25px;
        font-size: 16px;
        font-weight: 450;
        .logos{
            i{
                margin-right: 5px;
            }
        }
    
    }
    .colBox1{
        border: none !important;
        transition-duration: 0.5s;
        &:hover{
            transform: translateY(-2px) !important;
        }
    }
    
}

.about4{
    height: 700px;
    background-image: url(https://templates.envytheme.com/handout/default/assets/img/history-bg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment:fixed;
}
.about5{
    span{
        font-size: 18px;
    color: #616161;
    font-family: "Poppins", sans-serif;
    }
    p{
        margin-top: 15px;
        font-size: 27px;
        color: #1d1d1d;
        font-family: "Poppins", sans-serif;
    }
    .swiper-pagination-bullet{
        padding: 10px !important;
        transform: translateY(3px);
        border: 2px solid #e60027 !important;
        
    }
    .swiper-pagination-bullet-active{
        background-color: #e60027 !important;
       }
    }

    .social{
        justify-content: space-between;
        i{
            font-size: 17px;
            color: white;
            
        }
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            border-radius: 50%;
           transition-duration: 0.5s;
           &:hover{
            background-color: #ffc107;
           }
        }
        .facebook{
            background-color: #3b5998;
            
        }
        .twitter{
            background-color: #55acee;
        }
        .instagram{
            background-color: #3f729b;
        }
        .pinterest{
            background-color: #ff0000;
        }
        .youtube{
            background-color: #c80000;
        }
    }
    .addBtn{
        transition-duration: 0.5s;
        &:hover{
     background-color: #1d1d1d;
     border-color: #1d1d1d;
        }
    }
    .shop1{
        
        .lead{
            font-weight: bold;
            span{
                color: #78797d;
                text-decoration-line: line-through;
            }
        }
        .lorem{
            margin-bottom: 16px;
    line-height: 1.8;
    color: #737373;
    font-weight: 400;
    font-family: "Poppins", sans-serif !important;
    font-size: 18px;
        }
    
    
    }
    .dropdown1{
        border: none !important;
        border-radius:0% !important;
        padding: 5px;
        .dropdown-item{
            font-size: 18px;
            font-weight: 400;
            transition-duration: 0.5s;
            &:hover{
                color: #ce7b04 ;
                transform: translateX(3px);
            }
        }
    }
    .paymentMethods{
        a{
            margin-right: 10px;
        }
        i{
            font-size: 25px;
            color: #3b5998;
        }
    }
    .additional{
        .btn{
            color: #1d1d1d;
            border: 1px dashed #eeeeee;
            margin-right: 8px;
            padding-top: 14px;
            padding-bottom: 14px;
            padding-right: 30px;
            padding-left: 30px;
            font-weight: 700;
            font-size: 15px;
            border-radius: 0;
            transition-duration: 0.5s;
            &:hover{
                color: #ffffff;
                background-color: #fbb403;
                border-color: #fbb403;
            }
        }
        
    }
    .description{
        border: 1px dashed #eeeeee;
        padding: 30px;
        ul{
          list-style: none;
        }
        li{
           
            border: 1px solid #eeeeee;
            border-bottom: none;
            padding: 10px 15px 7px;
            color: #666666;
            font-family: "Poppins", sans-serif;
            font-size: 17px;
        
          span{
            display: inline-block;
            width: 40%;
            color: #1d1d1d;
            font-weight: 700;
          }
         
        }
    }
.shopList{
    .list-group-item{
        cursor: pointer;
    }
    .card{
        margin: 0px 20px 20px 0px;
        i{
            color: #ffb708;
        }
        border: none;
        border-radius: 0%;
        img{
            border-radius: 0%;
        }
        .card-body{
            margin-top: 0% !important;
            padding-top: 0% !important;
        }
    }

    .lorem{
        line-height: 1.8;
    color: #737373;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    }
   .lead{
    color: #000000;
    font-weight: 600;
    font-size: 16px;
   span{
    text-decoration: line-through;
    color: #828893;
   }

   }
    
}
body{
    background-color: #f8f9fa;
}
.shopList{
    select{
        padding: 10px 40px 10px 10px;
        
        width: 300px;
        padding: 15px 5px 15px 15px;
        border: none !important;
        color: #666666;
        font-size: 17px;
        font-family: inherit;
        option{
        font-size: 17px;
        color: #666666;
        border: none !important;
        font-family: inherit;
        transition-duration: 0.5s;
        &:hover{
            color: white !important;
            background-color: #ffc107 !important;
        }
        }
    }
    .card{
        transition-duration: 1s;
        &:hover{
            transition-duration: 1s;
            .add-to-cart{
                transition-duration: 1s;
                opacity: 1;
            }
            .card-body{
                transition-duration: 1s;
                background-color: #ffc107 !important;
                *{
                    color: white !important;
                }
                }
            }
        }
    }

.buttons{
    .btn{
        width: 45px;
        height: 45px;
        margin: 0 3px;
        display: inline-block;
        background-color: #ffffff;
        line-height: 48px;
        color: #1d1d1d;
        box-shadow: 0 2px 10px 0 #d8dde6;
        font-size: 18px;
        font-weight: 700;
        border-radius: 0% !important;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover{
            background-color: #fbb403;
            color: white;
        }
    }
}
.woocommerce-result-count{
    line-height: 1.8;
    color: #737373;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}
.add-to-cart{
    opacity: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    color: white !important;
    font-family: "Poppins", sans-serif;
    font-weight: 550;
    transition-duration: 0.5s;
    padding: 15px 0px ;
    border: none !important;
    i{
        color: white !important;
    }
    &:hover{
        background-color: white !important;
        color: #ffc107 !important;
        i{
            transition-duration: 0.5s;
            color: #ffc107 !important;
        }
    }
}
.countBtn{
    background-color: #f8f8f8;
    width: fit-content;
    *{
        font-size: 18px;
        font-weight: 500;
    }
    display: flex;
    align-items: center;
    span{
        color: #ffc107;
    }
    .btn{
        padding: 10px 20px;
        transition-duration: 0.5s;
        color: #d0d0d0 !important;
        &:hover{
            color: #ffc107;
        }
    }
}
.name{
    color: #666666 !important;
    font-weight: 500 !important;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}
.applyBtn{
    transition-duration: 0.5s;
    &:hover{
        background-color: #dc3545 !important;
    }
}
.updateBtn{
    transition-duration: 0.5s;
    &:hover{
        background-color: #1d1d1d !important;
       border-color: #1d1d1d !important;
       color: white;
    }
}
.cartTotals{
    background-color: white;
    padding: 50px 40px;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
   
}
.totalCart{
    display: flex;
    align-items: center;
    justify-content: center;
}
.coupon{
    width: 400px !important;
}
.payment-box{
    background-color: white;
    padding: 30px 20px 30px 20px;
}
.contact2{
    background-color: white;
    padding: 30px 20px 30px 20px;
}
.box1{
    background-color: white;
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
    padding: 20px;
    
}
.contact1{
    display: flex;
    justify-content: space-between;
    
}
.video-content .image .video-btn {
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background-color: #ffffff;
    border-radius: 50%;
    color: #1d1d1d;
    position: absolute;
    z-index: 1;
    left: 45px;
    right: 0;
    margin: auto;
    bottom: -100px;
    -webkit-transform: translateY(-135%);
    transform: translateY(-135%);
    text-align: center;
}
.dates{
    
    ul{
        list-style: none;
        
    }

    span{
        color: #e60027;
        float: right;
    }
    .lines{
        width: 40px;
        border: 1px dashed #737373;
        float: right;
        margin-top: 10px;
       
    }
}
.contact2{
    input{
    background-color: #f3f3f3;
    border: none;
    height: 60px;
    border: 1px solid #f3f3f3;
    padding: 20px;
    font-size: 16px;
    margin-bottom: 15px;
    }
    textarea{
        background-color: #f3f3f3;
    border: none;
    border: 1px solid #f3f3f3;
    padding: 20px;
    font-size: 16px;
    margin-bottom: 15px;
    }
}
.modeBtn{
    border: none !important;
    background-color: #fbb403;
    border-radius: 20px;
    width: 70px;
    height: 35px;
    img{
        background-color: white;
        border-radius: 50%;
        padding: 2px;
    }
}

.light{
    .adminBtn{
        background-color: white !important;
        color: black !important;
    }
    .orders{
        background-color:#f8f9fa !important;
    } 
    .navbar{
        background-color: #f8f9fa !important;
       *{
        color:#1d1d1d;
       }
      
       .badge{
        background-color: red !important;
        color: white !important;
       }
       .cartBtn{
        background-color: white !important;
        border: none !important;
    }
    
    
    }
    .txtBody{
        *{
            color: white !important;
        }
    }
    .homeSection2{
        background-color: #f8f9fa;
        h1{
            color: #1d1d1d;
        }
    }
    .section3{
        background-color: #f8f9fa;
        .box{
            background-color: white;
            color: #737373;
            h3{
                color: #000000 ;
            }
            transition-duration: 0.5s;
            &:hover{
                background-color: #fbb403;
                color: white !important;
                p{
                    color: white !important;
                }
                h3{
                    color: white !important;
                }
               
            }
        }
    }
    
}


.dark{
    .wishlist{
        background-color: #0e0e0e;
    }
    .contactPage{
        background-color: #000000;
        .box1{
            background-color: #1d1d1d;
        }
        .contact2{
            background-color: #1d1d1d;
            h2{
                color: white;
            }
            input{
                background-color: #d2d2d2;
                border: none;
            }
            textarea{
                background-color: #d2d2d2;
                border: none;
            }
        }
    }
    .commonBlog{
        background-color: #000000;
        .blogSection{
            .title1{
                color: white !important;
            }
        }
        .card{
            background-color: #1d1d1d;
            .card-title{
                color: white;
            }
        }
    }
    .faq-contact{
        h2{
            color: white;
        }
    }
    .faq{
        
        background-color: #000000;
        .frequent{
            color: white;
        }
    }
    .check{
        background-color: #1d1d1d;
        .title{
            color: white !important;
        }
        label{
            color: white !important;
        }
        hr{
            color: white;
        }

    }
    .cartPage{
        background-color: #000000;
    }
    .editPage{
        background-color: #0e0e0e;
        h1{
            color: white;
        }
    }
    .addPage{
        background-color: #0e0e0e;
        h1{
            color: white;
        }
    }
    .adminPanel{
        background-color: #0e0e0e;
        h1{
            color: white;
        }
    
    }
    .authorization{
        background-color: #0e0e0e;
    }
    .shopPage{
        background-color: #000000;
    }
    .singleCard{
        p{
            color: white !important;
        }
        .card-title{
            color: white !important;
        }
        .card-body{
            background-color: #1d1d1d;
        }
    }
    .user-info-box{
        background-color:  #fbb403 !important;
    }
    .about5{
        background-color: #1d1d1d ;
        h3{
            color: white !important;
        }
        .lead{
            color: white !important;
        }
    }
  .about4{
    background-color: #1d1d1d;
  }
    .aboutSection3{
        background-color: #000000 !important;
        .burgerCard1{
            background-color: #1d1d1d !important;
            .title{
                color: white !important;
            }
        }
    }
    .hero2{
        background-color: #000000 !important;
        color: white !important;
        .title1{
            color: white !important;
        }
    }
    .section11{
        background-color: #000000;
    }
    .section10{
        background-color: #000000;
       .swiper-slide{
        *{
            color: white !important;
        }
       }
    }
    .section9{
        background-color: #0e0e0e;
        h1{
            color: white !important;
        }
    }
    .section8{
        background-color: #000000;
        .card{
            background-color: #000000 ;
        }
    }
    .pricess{
        background-color: #1d1d1d;
        *{
            color: white !important;
        }
    }
    .dropdown-item{
        transition-duration: 0.5s;
        &:hover{
            background-color: #1d1d1d;
            color: #ce7b04 ;
            transform: translateX(3px);
        }
    }
    .burgerCard{
        background-color: #000000 !important;
        .title{
            color: white;
        }
    }
    .delOne{
        color: white !important;
    }
    .orders{
        background-color: #000000 !important;
    } 
   .navbar{
    .navbar-toggler{
        background-color: white !important;
        color: black !important;
    }
    .adminBtn{
        background-color: #1d1d1d !important;
        color: white !important;
    }
    .dropdown1{
        background-color: #1d1d1d;
        color: white;
    }
    background-color:black !important;
    .badge{
        color:black !important;
        background-color: white !important;
    }
    *{
        color: white !important ;
    }
    .cartBtn{
        background-color:black !important;
        border: none !important;
    }
    
     
    }
       .txtBody{
    *{
        color: #1d1d1d !important;
    }
   }
   .homeSection2{
    background-color: black;
    h1{
        color: white;
    }
}

.section3{
    background-color: black;
    .box{
        background-color: #1d1d1d;
        color: white !important;
        h3{
            color: white !important;
        }
        transition-duration: 0.5s;
        &:hover{
            background-color: #fbb403;
            color: white !important;
            p{
                color: white;
            }
           
        }
    }
}
.homeSection4{
    background-color: #000000;
}
}
.langBtn{
    border: none !important;
    background-color: #1d1d1d;
    border-radius: 20px;
    width: 70px;
    height: 35px;
    color: white !important;
    font-weight: bold;
}

.blogSection{
    .authorName{
        color: #c24907;
        font-weight: 600;
        font-size: 15px;
        font-family: "Poppins", sans-serif;
    }
    i{
        color: #c24907;
        font-size: 15px;  
    }
    .day{
        color: #616161;
    font-size: 15px;
    font-weight: 500;
    }
    .comment{
        border-bottom: 1px solid #c24907;
    }
}

.singleCard{
    
    img{
        height: 160px !important;
    }
    .wishButton{
        background-color: none !important;

    }
}
.wishlist{
    padding-top: 100px;
    .fa-trash-can{
        cursor: pointer;
    }
    .fa-cart-shopping{
        cursor: pointer;
    }
}
// .navbar{
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
// }

.cartPage{
    img{
        height: 50px !important;
    }
    .fa-trash-can{
        cursor: pointer;
    }
}


@media (max-width: 576px) {
    .pricess {
      flex-direction: column;
      align-items: center;
    }
    .cups {
      margin: 10px 0;
      text-align: center;
    }
    h1 {
      font-size: 2rem;
    }
    p {
      font-size: 0.9rem;
    }
  }
  
     
  @media (min-width: 577px) and (max-width: 992px) {
    .pricess {
      justify-content: space-between;
    }
    .cups {
      width: 45%;
      text-align: center;
    }
  }
  
  @media (min-width: 993px) {
    .pricess {
      justify-content: space-evenly;
    }
    .cups {
      width: 22%;
      text-align: center;
    }
  }
  .faq-area{
    .accordion-item{
      border-radius: 0 !important;
      border: none !important;
      margin-bottom: 10px;
      padding: 20px 20px 20px 50px;
   
   .accordion-button{
        font-size: 20px !important;
        font-weight: 700;
        
    }
    }
    input{
        background-color: #ffffff;
        border: none !important;
        height: 50px;
        font-size: 16px;
        border-radius: 0;
        margin-bottom: 15px;
    }
    textarea{
        border: none !important;
        border-radius: 0;
    }
  }
 
  .orders{
    position: relative;
    .burger-video{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.4);
        display: flex;
        justify-content: center;
        align-items: center;
        iframe{
            width: 90%;
            height: 80%;
            z-index: 3;
        }
        
    }
}
.adminBtn{
    border: none !important;
    background-color: #1d1d1d;
    border-radius: 20px;
    width: 70px;
    height: 35px;
    color: white !important;
    font-weight: bold;
}
.user-info-box{
    border: none !important;
    border-radius: 30px;
    width: 70px;
    height: 35px;
    font-weight: bold;
}
.custom-alert-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    transition: 1s;
    transform: translateY(-100%);
    z-index: 200;
    .main-box{
        width: 60%;
        background-color: orange ;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        
        .img-box{
            width: 10%;
            img{
                width: 100%;
            }
        }
        .text-box{
            width: 80%;
            p{
                margin: 0;
                padding: 0;
                font-size: 30px;
                font-family: sans-serif;
                color: #fff;
            }
        }
        @media (max-width: 768px) {
           
            p{
                font-size: 13px;
            }
           
         }
        #closeBtn{
            position: absolute;
            right: 10px;
            top: 10px;
        }
    }
    @media (max-width: 768px) {
        .main-box{
            width: 90%;
        }
     }
}

.alert-active{
    transform: translateY(10%);
}
// .commonBtn{
//     position: relative;
//     .visually-hidden{
//         position: absolute;
//         top: -10px;
//         right: 10px;
//     }
// }
.cartBtn{
    width: 40px;
    height: 30px;
}
.signup-area{
    background-color: #f8f9fa;
   form{
        background-color: white;
        box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
        h3{
            color: #1d1d1d;
            font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 700 !important;
        }
    }
}